body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../images/nublado.jpg');
    background-size: cover; /* Ajusta automáticamente el tamaño de la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center; /* Centra la imagen de fondo */
}
/* Agrega estos estilos al final de tu archivo estilo_r.css */

#login-container {
    position: relative; /* Agregado para posicionar el botón de cancelar correctamente */
    width: 300px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#cancel-button {
    position: absolute;
    
    top: 10px;
    right: 1.5em;
    color: #555;
    text-decoration: none;
    font-size: 20px;
}

#cancel-button:hover {
    color: #ff0000;
}


.input-container {
    position: relative;
    margin-bottom: 15px;
}

input {
    width: calc(100% - 24px);
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #2c3e50;
    padding-left: 40px; /* Espacio para el icono */
    margin: 10px;
}



#login-button {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-button:hover {
    background-color: #2980b9;
}

.error-message {
    color: #e74c3c;
    margin-top: 10px;
}


i.fas {
    position: absolute;
    left: 20px;
    top: 20px;
    transform: translateY(-50%);
    color: rgb(22, 22, 22);
    margin: 10px;
    margin-bottom: 10px;
}